<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274503090327-crepebc42e4h053aqkgppqctncral4ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274503090327-crepebc42e4h053aqkgppqctncral4ho</string>
	<key>API_KEY</key>
	<string>AIzaSyC-_5EA7gCjmy2EgFRKTanvypK2gxNYXKs</string>
	<key>GCM_SENDER_ID</key>
	<string>274503090327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ayumu.DialyCalendar</string>
	<key>PROJECT_ID</key>
	<string>dialy-calendar</string>
	<key>STORAGE_BUCKET</key>
	<string>dialy-calendar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274503090327:ios:6cdca4647e02a002d629d2</string>
</dict>
</plist>